<h1>Posts</h1>

<div id="posts" class="columns is-multiline is-gapless">
  <% @posts.each do |post| %>
    <div class="column is-one-quarter">
      <div class="image is-5by4">
         <%= link_to image_tag(post.image.thumb.url, alt: 'Image') if post.image? %>
      </div>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
